@keyframes animacao{
	0%{background-color: red;}
	25%{background-color: yellow;}
	50%{background-color: blue;}
	72%{background-color: green;}
	100%{background-color: red;}
}

body{
	margin: 0;
}
.animacao{
	width: 150px;
	height: 150px;
	background-color: green;
	animation-name: animacao;
	position: absolute;
	animation-duration: 4s;
}